*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgb(239, 192, 22), rgb(255, 255, 255)); */
    font-family: monospace;
    color: #FF0015;
}

.image img {
    display: flex;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 100%;
  }



.location {
    height:300vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items:center;   
}

/* .location-timezone {
    color: red;
} */

.temperature {
    flex-direction: column;
}
.degree-section {
    display:flex;
    align-items: center;
    cursor: pointer;
    margin-top: -10em;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}



